{% extends "base.html" %}

{% block sidebar %}
    <nav>
        <ul class="nav-menu">
            <li><a href="{{ url_for('setlists_page') }}" class="nav-link">SETLISTS</a></li>
            <li><a href="{{ url_for('songs_page') }}" class="nav-link">SONGS</a></li>
            <li><a href="{{ url_for('settings_page') }}" class="nav-link">SETTINGS</a></li>
            <li>
                <button id="exit-app-btn" class="nav-link exit-button">EXIT APPLICATION</button>
            </li>
            {% if KIOSK_MODE %}
            <li><button id="reboot-system-btn" class="nav-link exit-button">REBOOT SYSTEM</button></li>
            <li><button id="shutdown-system-btn" class="nav-link exit-button">SHUTDOWN SYSTEM</button></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div class="main-index-content">
        <h1>Backing Track Player</h1>
        <p>Select an option from the menu to get started.</p>
        <p>For more information, visit the <a href="https://github.com/johannmkammiste/btplayer" target="_blank">GitHub repository</a>.</p>
        <p class="app-version">Version 0.2</p>
    </div>
{% endblock %}